* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	padding:20px;
}
a {
	text-decoration: none;
	color:#393939;
}

p {
	text-align: center;
}

li {
		padding: 5px 10px 5px 10px;
		list-style: none;
}

img {
	max-width: 100%;
	border-radius: 0%;
}
.logo{
	align-items: center;

}
h2,h3{

		justify-content: center;
		text-align: center;
}
h3 {
	padding-top: 40px;
}
.contact-text {
	text-align: center;
}


/* =================================
  Base Styles for Flexbox
==================================== */


	header{
		display:flex;
		flex-direction: column;
		align-items: center;

	}

	img.logo{
		display: flex;
		flex-direction: column;
		align-items: center;
    padding-bottom: 20px;

}
  .banner {
    display: flex;
    flex-direction: column;

  }


p.intro	{
			display: flex;
			justify-content: center;
			text-align:left;

		}
.col {
    	padding-right: .5em;
    	padding-left: .5em;
    }

footer {
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  margin-top: auto;
		  padding: 0 20px;
		  height: 100px;
		}

	.footer-nav{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.full {
		display: none;
	}
.main-nav {
	display: flex;
	flex-direction: column;
	margin-top:5px;
}


/* =================================
		  Media Queries
==================================== */

@media (min-width:768px){
		.main-nav{
			flex-direction: row;
		}

		.banner{
			flex-wrap: nowrap;
			flex-direction: row;
		}

		.intro{
			padding-right:5px;

		}
		.logo {
			order: 1;
			padding-right:10px;
			
		}

		.row1,.row2 {
			display: flex;
			flex-wrap: wrap;
		}

		.col {
			flex-basis: calc(50% - 2px);
		}

		.top {
 		display:none;
		}

		.full {
 		display: inline-block;}

	}


	@media (min-width: 1024px) {

		header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.row1{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.col {
		flex:1;
		flex-basis: calc(33% - 20px);
	}


}
