*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	padding:20px;
}
a {
	text-decoration: none;
	color:#393939;

}

.main-nav, a, li{
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
	list-style: none;
}

img {
	max-width: 100%;
	border-radius: 0%;
}
.logo{
	align-items: center;

}
h2,h3{

		justify-content: center;
		text-align: center;
}
h3 {
	padding-top: 40px;
}
.contact-text {
	text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
}

/* =================================
  Base Styles for Flexbox
==================================== */



	header{
		display:flex;
		flex-direction: column;
		align-items: center;

	}

	img.logo{
		display: flex;
		flex-direction: column;
		align-items: center;
    padding-bottom: 20px;

}
  .banner {
    display: flex;
    flex-direction: column;

  }


p.intro	{
			display: flex;
			justify-content: center;
			text-align:left;

		}
.col {
    	padding-right: .5em;
    	padding-left: .5em;
    }





/* =================================
		  Media Queries
==================================== */

@media (min-width: 768px) {


	.main-nav,.row1,.row2,.banner{
		display:flex;
		flex-direction: row;
}

	.logo {
			order:1;
      padding-right: 10px;

}
	.intro{
		padding-right:30px;
    padding-left: 30px;
	}

 .col {
   flex:1 50%;
 }

 .row1,.row2 {
   flex-wrap: wrap;}
 }





@media (min-width: 1024px) {
	header {
		flex-direction: row;
		justify-content: space-between;
	}
  .row1{
    flex-direction:row;
    flex-wrap: wrap;
}

  .logo {
    padding-right:10px;
  }
.col {
  flex-basis:30%;
}
