* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #093145;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
  background-color: #107896;
}

.full {
  display: none;
}

@media (min-width: 768px) {
  .top {
    display: none;
  }
  .full {
    display: inline-block;
    margin-left: 20px;
  }
}
